body {
  margin: 0;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

#info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#wrap {
  width: 300px;
  height: 300px;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  border: 3px solid black;
}

.mole {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: black;
  z-index: 2;
  align-self: center;
  justify-self: center;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  visibility: hidden;
}

#mole.hide {
  visibility: none;
}

#hole {
  background-color: brown;
  height: 50px;
  width: 80px;
  z-index: 3;
  grid-row: 2 / 2;
  align-self: center;
  justify-self: center;
  position: absolute;
}

#scoreBoard {
  width: 60px;
  height: 20px;
  border: 1px solid black;
}

#start {
  width: 60px;
  height: 20px;
  border: 1px solid black;
}
